<launch>

	<arg name="calibration_name" default="d415_R_franka_calib2"/>
	<arg name="frame_id" default="camera2_color_optical_frame"/>
	<arg name="child_frame_id" default="Franka_RIGHT/panda_link0" />
	<arg name="camera_info_topic"	default="/camera2/color/camera_info"/>
	<arg name="image_topic"	default="/camera2/color/image_rect_color"/>
	<arg name="calibrator_frame"	default="Franka_RIGHT/calibrator_10"/>

	



	<include file="$(find aruco_ros)/launch/single.launch">
		<arg name="camera_info_topic"	value="$(arg camera_info_topic)"/>
		<arg name="image_topic"			value="$(arg image_topic)"/>
		<arg name="camera_frame"		value="$(arg frame_id)"/>

	</include>

	<include file="$(find realsense2_camera)/launch/rs_rgbd_2.launch"/>
	<!-- <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/> -->


	<!-- LOAD ROBOT AND CALIBRATION SETUP -->

	<group >
			<include file="$(find franka_visualization)/launch/franka_visualization_for_calibration.launch"></include>
			<param name="frame_id" value="$(arg frame_id)" />
			<param name="ar_marker_frame" value="aruco_marker_frame" />
			<param name="child_frame_id" value="$(arg child_frame_id)" />
			<param name="calibrator_frame" value="$(arg calibrator_frame)"/>
			<param name="calibration_name" value="$(arg calibration_name)"/>

			<node name="arm_d415_calibrator" pkg="calibration" type="average_calibrator" respawn="true" output="screen"/>

	</group>
</launch>
